@media screen and (min-width: 375px) and (max-width: 769px){
    .items{
        display: flex;
        justify-content: center;
        align-items:  flex-start;
        flex-direction: column;
        width: 375px;
        margin: 0 auto;
        padding: 32px 16px;
        gap: 32px;
    }
    .w-items{
        display: flex;
        justify-content: center;
        align-items:  flex-start;
        flex-direction: column;
        width: 343px;
        margin: 0 auto;
        padding: 0;
        gap: 32px;
    }
    div p{
        width: 343px;
    }
    .items div{
        width: 343px;
        margin-bottom: 0;
    }
    .items div img{
        width: 128px;
    }
    .items div h3{
        padding: 16px 0 8px 0 ;
    }
}