@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    margin: 2%;
}
header{
    height: 70vh;
    background-color: #168ee7;
}
    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2% 0;
    }
section {
    height: 50vh;
    width: 32%;
    background-color: #104973;
}
footer{
    height: 90vh;
    background-color: #168ee7;
}
header, section, footer{
    color: white;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}