@media screen and (min-width: 375px) and (max-width: 769px) {
    main{
        width: 343px;
        padding:  32px 0;
        gap: 40px;
    }
    section{
        width: 343px;
        padding: 0;
        gap: 40px;
    }

}