@media screen and (min-width: 375px) and (max-width: 769px) {
    .cards{
        width: 375px;
        padding:  32px 16px;
    }
    .wrapper_cards{
        width: 343px;
        padding: 0;
        gap: 40px;
    }
}