@media screen and (min-width: 769px) and (max-width: 1279px) {
    .cards{
        width: 769px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        flex-direction: column;
        padding:  32px 24px;
    }
    .wrapper_cards{
        width: 720px;
        display: flex;
        justify-content: center;
    }
    div {
        width: 218px;
    }
    div p{
        color: #3C3C43;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 1.5px;
        text-transform: uppercase;
    }
    div h3{
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }
}