h3{
    background-color: lightgrey;
    width: 13%;
    display: block;
    font-size: 25px;
    text-align: center;
    margin-left: 100px;
    padding: 5px;
}
h2{
    background-color: lightgrey;
    width: 70%;
    display: block;
    font-size: 21px;
    text-align: center;
    margin-left: 240px;
    padding: 10px;
}
h1{
    background-color: darkgray;
    width: 20%;
    display: inline-block;
    text-align: center;
    font-size: 32px;
    margin-left: 40%;
    padding: 5px;
}
img{
    width: 120px;
    margin-left: 160px;
    margin-bottom: 0;
}
body{
    background-size: cover;
    background-position: center;
    background-image: url("https://images.unsplash.com/photo-1629196911514-cfd8d628ba26?q=80&w=1998&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
p{
    background-color:lightgrey;
    font-size: 19px;
    width: 25%;
    margin-left: 6%;
    text-align: center;
    display: inline-block;
    padding: 10px 15px;
}
