body{
    background-color: #fff7df;
}
.preloader{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20% auto 0 auto;
    background: #c268f8;
    border-radius: 50%;
    animation: preloader 3s linear infinite alternate;
}
@keyframes preloader {
    from {
        transform: rotate(10deg) translate(-70px, 40px);
    }
    50% {
        border-radius: 20px;
        width: 100px;
        height: 100px;
    }
    to {
        transform: rotate(80deg) translate(40px, -70px);
        background-color: #faf15f;
    }
}