*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    height: 100vh;
    padding: 50px;
    font-family: Arial, sans-serif;
}
#top-section{
    display: flex;
    background-color: #b64b5c;
}
#middle-section{
    display: flex;
    background-color: #918d48;
}
#bottom-section{
    display: flex;
    background-color: #8f7ca1;
}
p{
    font-size: 20px;
}
h1{
    font-size: 40px;
}
nav a{
    color: black;
    font-size: 60px;
}