*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
.div{
    display: flex;
    align-items: center;
    justify-content: center;
}
#top-section{
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: #ffb5d4;
    height: 50vh;
}
#middle-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #606060;
    height: 50vh;
}
.h1{
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 20px;
}